@page "/"
@model MyApp.Namespace.MainPageModel
@{
}
<head>
	    <link rel="stylesheet" type="text/css" href="~/css/main.css">
</head>
<body>
    <div class="limiter">
        <div class="container-main">
			<div class="row">
				<div class="projName" >Learn Countries</div>
				<div class="col">
					<a class="userName" href="/Login">
						Log In/Sign In
					</a>
				</div>
			</div>
			<pre class="txt-welcome">
				<i>
						Want a little dive into geography?Learn a lot and just have fun and usefully?
				You do not have to immediately start reading books to become more erudite. Just try to do tasks on our website.
									     This trainer is :
			</i>
			</pre>
			<figure class="figure1-coordinates">
				<p><img class=scaled src="~/images/mir-zemlya-strany-puteshestviya-6188.jpg"  alt="St. Tropez" style="border-radius: 40px 40px 0px 0px" >
					<figcaption>Strengthening the knowledge of capitals and flags of states</figcaption>
				</p>
			</figure>

			<figure class="figure2-coordinates">
				<p><img class=scaled src="~/images/figure2.jpg"  alt="St. Tropez" style="border-radius: 40px 40px 0px 0px" >
					<figcaption>Obtaining a lower layer for the further development of erudition</figcaption>
				</p>
			</figure>
			<figure class="figure3-coordinates">
				<p><img class=scaled src="~/images/3_original.jpeg"  alt="St. Tropez" style="border-radius: 40px 40px 0px 0px" >
					<figcaption>Spending time is fun and profitable.As well as monitoring your achievements</figcaption>
				</p>
			</figure>

			<div class="container-login100-form-btn" style="position: relative;">
				<button class="login100-form-btn">
					<a href="/Login">Get Started</a>
				</button>
			</div>
        </div>
    </div>
</body>